{% extends "layout.html" %}

{% block content %}

<div class="nav-item ml-auto">                        
    <div class="border border primary w-50 p-3" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 120px">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="card">
                <div class="card-header">
                    Welcome to the Run Model page
                </div>
                <div class="card-body">
                    <h5 class="card-title">Please enter the following parameters then press Run</h5>
                    <p class="card-text">
                        {{ form.num_gps.label(class="form-control-label") }}
                        {% if form.num_gps.errors %}
                            {{ form.num_gps(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.num_gps.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.num_gps(class="form-control") }}
                        {% endif %}</p>

                    <p class="card-text">
                        {{ form.num_slots.label(class="form-control-label") }}
                        {% if form.num_slots.errors %}
                            {{ form.num_slots(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.num_slots.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.num_slots(class="form-control") }}
                        {% endif %}</p>

                    <p class="card-text">
                        {{ form.num_to_book.label(class="form-control-label") }}
                        {% if form.num_to_book.errors %}
                            {{ form.num_to_book(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.num_to_book.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.num_to_book(class="form-control") }}
                        {% endif %}</p>

                    <p class="card-text">
                        {{ form.num_prebooked.label(class="form-control-label") }}
                        {% if form.num_prebooked.errors %}
                            {{ form.num_prebooked(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.num_prebooked.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.num_prebooked(class="form-control") }}
                        {% endif %}</p>

                    <button type="submit" class="btn btn-success">Run</button>
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock content %}